.contactSection {
    background-color: #EBF1F5;
    padding: 40px;
    border: 1px solid #D8E1E8;
    border-radius: 15px;
    max-width: 440px;
}

.contactForm {
    display:flex;
     flex-direction:column;
     row-gap:16px;
     max-width:360px;
     margin-top: 40px;
}

.inputStyle {
    padding: 15px;
    border: 1px solid #D8E1E8;
    border-radius: 7px;
}

.message {
    resize: none;
}

.submitButton {
    background-color: #30404D;
    padding: 16px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
} 