* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container__reset {
    margin-left: calc((100% - 1080px)/2);
}

.container_small {
  max-width: 710px;
  margin: 0 auto;
}

/****************** Button styles ******************/

.btnLarge {
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
}

.btnRegular {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
}

.btnDark {
    background-color: #30404D;
    color: #fff;
    border: 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.btnDark:hover {
  background-color: #798ea0;
  transition: all 0.3s ease-in-out;
}

.btnLight__white {
    background-color: transparent;
    color: #fff;
    border: 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.btnLight__gray {
  background-color: transparent;
  color: #8A9BA8;
  border: 0px;
  display: flex;
  align-items: center;
}

.btnLight__black {
    background-color: transparent;
    color: #30404D;
    border: 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}


.btnLight__grayDark {
  background-color: #E5EAEE;
  color: #30404D;
  border: 0px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

/****************** END Button styles ******************/

/*********** TAG styles ***********/

.light {
  background-color: #D8E1E8; 
  padding: 3px 5px;
  border-radius: 5px;
  color: #30404D;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-flex;
}

/*********** END TAG styles ***********/

/********* SWIPER HOMEPAGE *********/

.wrapper__swiper__homepage .swiper {
    margin-bottom: 75px;
    overflow-y: visible !important;
    overflow: visible !important;
}

.wrapper__swiper__homepage .swiperSlide {
    width: auto !important;
}

.wrapper__swiper__homepage .swiper-button-next::after,
.wrapper__swiper__homepage .swiper-button-prev::after {
    display: none;
}

.wrapper__swiper__homepage .swiper-button-next {
    background-color: #8a9ba8;
    background-image: url("/next.svg");
    background-repeat: no-repeat;
    background-position: center right 16px;
    width: auto !important;
    border-radius: 32px;
    top: auto !important;
    right: 0 !important;
    bottom: -73px;
}

.wrapper__swiper__homepage .swiper-button-next::before {
    content: "Next";
    display: inline-block;
    padding: 12px 42px 12px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.wrapper__swiper__homepage .swiper-button-prev {
    background-color: #8a9ba8;
    background-image: url("/prev.svg");
    background-repeat: no-repeat;
    background-position: center left 16px;
    width: auto !important;
    border-radius: 32px;
    top: auto !important;
    left: 0 !important;
    bottom: -73px;
}

.wrapper__swiper__homepage .swiper-button-prev::before {
    content: "Previous";
    display: inline-block;
    padding: 12px 16px 12px 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/********* END SWIPER HOMEPAGE *********/

/********* SWIPER PRODUCT DETAILS *********/

.wrapper_prod_details {
  height: 280px;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #BFCCD6;
    min-width: 525px;
  }
  
  .wrapper_prod_details .swiper {
    width: 100%;
    height: 100%;
  }
  

  .wrapper_prod_details .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper_prod_details .swiper-slide img {
    height: 93px;
    width: 100%;
    background-color: black;
  }

  .wrapper_prod_details .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .wrapper_prod_details .mySwiper2 {
    height: 280px;
    width: 80%;
  }
  
  .wrapper_prod_details .mySwiper {
    width: 100px;
  }
  
  .wrapper_prod_details .mySwiper .swiper-slide {
    height: 100%;
    opacity: 0.6;
    margin-right: 4px !important;
  }
  
  .wrapper_prod_details .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .wrapper_prod_details .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/******END SWIPER PRODUCT DETAILS *****/ 

