.level1 {
    color: #8A9BA8;
    font-size: 48px;
}

.level2 {
    color: #30404D;
}

.level3 {
    color: #8A9BA8;
    font-weight: 300;
}

.level4 {
    color: #758796;
    font-weight: 300;
}

.level5 {
    color: #30404D;
    font-weight: 600;
}

.level6 {
    color: #30404D;
    font-size: 24px;
}

.level7 {
    color: #8A9BA8;
    font-size: 16px;
}

.level8 {
    color:#394B59;
    font-size:20px;
    font-weight: 600;
}
