.heroHeader {
    background-color: #F5F8FA;
    padding: 100px 0 125px 0;
}

.paragraph {
    color: #8A9BA8;
    font-size: 20px;
    margin: 20px 0 28px 0;
}

.leftSide {
    padding-top: 30px; 
}

.strongText {
    color: #394B59;
}

.leftSide__btn {
    text-decoration: none;
}