.contactBtn {
    background-color: #E5EAEE;
    border: none;
    padding: 16px;
    min-width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.contactBtn:hover {
    background-color: #b6bcc2;
    transition: all 0.3s ease-in-out;
}

.link {
    text-decoration: none;
    color: #30404D;
    font-weight: 500;
    font-size: 16px;
}
