.stepper {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 24px 42px;
    align-items: center;
    border-bottom: 1px solid #d8e1e8;
    background-color: #fff;
  }
 
  